* {
	text-align: center;
}

h1 {
    color: rgb(245, 142, 7);
}

span{
    color:blue;
    font-weight: bold;
    font-style: italic;
}

button {
	margin: 10px 0;
    padding: 10px;
    font-weight: bold;
}

.buttonZmiana {
	margin-right: 15px;
}